<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Login
    </ion-title>
    <!-- Icon start -->
    <ion-breadcrumbs slot="end">
      <ion-breadcrumb href="home">
        <ion-icon slot="start" name="home"></ion-icon>
        Home
      </ion-breadcrumb>
    </ion-breadcrumbs>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="login">
    <div>
      <ion-icon name="person-circle" size="large"></ion-icon>
    </div>
    <div>
      <ion-label> Sign In</ion-label>
    </div>
    <div style="margin: 5px;">
      <ion-item>
        <ion-icon name="person"></ion-icon>
        <ion-input></ion-input>
      </ion-item>
    </div>
    <div style="margin: 5px;">
      <ion-item>
        <ion-icon name="key"></ion-icon>
        <ion-input></ion-input>
      </ion-item>
    </div>
    <div style="max-width: 50%; margin: 0 auto;">
      <ion-item style="text-align: center;">
        <ion-checkbox></ion-checkbox>
        <ion-label>Check Me Out</ion-label>
      </ion-item>
      <ion-button>Login!</ion-button>
    </div>
  </div>

</ion-content>