<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
    <!-- Icon start -->
    <ion-breadcrumbs slot="end">
      <ion-breadcrumb href="home">
        <ion-icon slot="start" name="home"></ion-icon>
        Home
      </ion-breadcrumb>
      <ion-breadcrumb href="login">
        <ion-icon slot="start" name="Person"></ion-icon>
        Login
      </ion-breadcrumb>
    </ion-breadcrumbs>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-toggle></ion-toggle>

</ion-content>